// app global css in SCSS form
body {
  background-color: #fff5f1;
}

.poa {
  position: absolute;
}

.por {
  position: relative;
}

.pof {
  position: fixed;
}

.ova {
  overflow: auto;
}

.ovh {
  overflow: hidden;
}

// flex
.flex-1 {
  flex: 1;
}

// page
.page-main {
  width: 100%;
  box-sizing: border-box;
  max-width: 1200px;
  min-height: calc(100vh - 110px);
  margin: 30px auto 30px;
  background-color: rgba($color: #ffffff, $alpha: 0.8);
  overflow: auto;
  padding: 20px;
  h1 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.4;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
  }
  @media screen and(max-width: 1050px) {
    min-height: calc(100vh - 50px);
    margin: 0 auto;
  }
  @media screen and(max-width: 650px) {
    h1 {
      font-size: 22px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
  }
}

.page-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

// text
.tac {
  text-align: center;
}

.break-all {
  word-break: break-all;
}

// background
.bg-transparent {
  background-color: transparent;
}

// cursor
.cp {
  cursor: pointer;
}

// block shadow
.block-shadow {
  box-shadow: 8px 8px 20px 0 rgba(55, 99, 170, 0.1), -8px -8px 20px 0 #fafafa;
}

.block-shadow-bottom-right {
  box-shadow: 8px 8px 20px 0 rgba(55, 99, 170, 0.1);
}
